
<div class="ysheet1">
<h1>Tus articulos</h1>

<% unless @cart.line_items.any? %>
  <p>Aun no hay nada  para vender. <%= link_to "Agrega un producto", admin_ventas_path %>
<% end %>

<table width="100%">
  <tr>
    <th>Productos</th>
    <th>Precio</th>
    <th> </th>
  </tr>
  <% for line_item in @cart.line_items %>
    <tr>
      <td><%= line_item.product.title %></td>
      <td><%= number_to_currency line_item.price %></td>
      <td><%= link_to "Borrar", remove_from_cart_path(line_item), :method => :post %></td>
    </tr>
  <% end %>
  <tr>
    <td>Total:</td>
    <td><%= number_to_currency @cart.total_price %></td>
  </tr>
</table>

<hr />
<%= form_tag checkout_path, :style => "text-align: right" do |f| %>
  <%= link_to "Agregar + articulos", admin_ventas_path , :class => 'btn btn-primary'%>
 
  <%= submit_tag "Cobrar!", :class => 'btn btn-danger' %>
<% end %>
</end>