
    <!-- Sidebar starts -->
  <div class="sidebar">

    <!-- Logo -->
    <div class="logo">
      <%= image_tag "logoa.png" %>
    </div>
         


        <div class="sidebar-dropdown"><a href="#">Navigation</a></div>

       
        


          <ul id="nav">
      <li><%= link_to '<i class="icon-home icon-white"></i> Inicio'.html_safe, root_path %>
            
            <!-- Main menu with font awesome icon -->
            
              <!-- Sub menu markup 
              <ul>
                <li><a href="#">Submenu #1</a></li>
                <li><a href="#">Submenu #2</a></li>
                <li><a href="#">Submenu #3</a></li>
              </ul>-->
            </li>
              <li><%= link_to '<i class="icon-user-md"></i> Quienes Somos'.html_safe, publico_about_path %></li>
             
               <li><%= link_to '<i class="icon-stethoscope"></i> Nuestros Servicios'.html_safe, publico_services_path %></li>

              <li><%= link_to '<i class="icon-map-marker"></i>  Ubicacion'.html_safe, publico_contact_us_path %></li>

              <li><%= link_to '<i class="icon-camera"></i> Galeria de imagenes'.html_safe, publico_gallery_path %></li>
                                    
          </ul>

            
    <div class="info">
    
      Llamanos desde U.S.A.
      <h5> <i class="icon-phone icon-large" style="color:#F7A305; " ></i> (928)468-3970</h5>
      En  Mexico.
      <h5> <i class="icon-phone icon-large"style="color: #F7A305; " ></i> (658)514-8375</h5>       
      Horario </br>
      De lunes a Sabado</br>
      de  8:30 A.M. a 7:00 P.M.
    </br>
   <b><p style="color: red;"> Atendemos urgencias 24 hrs</p></b>
    </div>


    <!-- Social -->    
           <div class="social">

              <h5>
                  <a  href="https://www.facebook.com/clinicaveterinariaacosta.acosta?fref=ts">Siguenos  por facebook <i class=" icon-facebook facebook "></i></a>

               </h5>
            </div>

                <!-- images -->

        </div>


              

  <!-- Sidebar ends -->