<!DOCTYPE html>
<html lang="en">
<head>
  
  

</head>

<body>




<!-- Main content starts -->

<div class="content">

  <!-- Sidebar starts -->
  <%= render(:partial => 'publico/sidebar')%>
  <!-- Sidebar ends -->

  <!-- Mainbar starts -->
  <div class="mainbar">

    <!-- Contact box starts  slide-->
    <%= render(:partial => 'publico/contact')%>    
    <!-- Contact box ends slide -->


    <div class="matter">
      <div class="container-fluid">
        <div class="row-fluid">

          <div class="span12">

            <!-- Sheet starts -->
              <div class="box-body">
                <div class="ysheet">
                 
                   <div class="ysheet1">
                    <%= render(:partial => 'publico/carousel')%>
                    <!-- Title -->
                      <h3>Bienvenidos</h3>
                      <!-- Para -->
                      <h6>Somos una clinica dedicado al cuidado de su mascota,  tenemos mas de 15 a&ntilde;os al servicio  de la comunidad  del valle y de la frontera  de Estados unidos,nuestros clientes nos respaldan. </br>
                      </br>
                      La Clinica Veterinaria Acosta,esta ubicada en CD.Morelos, Baja California. y cuenta con servicios de:</br>
                      <ul>
                        <li> Consultas  Medicas</li>
                        <li> Laboratorio</li>
                        <li> Cirugias</li>
                        <li> Radiografias</li>
                        <li> Hospitalizacion</li>
                        <li> Limpieza Dental</li>
                        <li> farmacia</li>
                        <li> Clinica de Animales Exoticos</li>                       
                        <li> Articulos y Accesorios para tu mascota</li>
                        <li> Venta de animales exoticos</li>
                      </ul>
                      Nuestro compromiso es atender las necesidades de su mascota de una manera profesional y amigable, otorgandole los cuidados necesarios para su pronta recuperacion.
                       </h6>

                       
                   </div>
                   <div class="ysheet2"></div>
                   
                </div>
              </div>

            <!-- Sheet ends -->           

          </div>          
        </div>
           
            <!-- Image blocks starts -->
              <h3>Casos de Exito</h3>
              <div class="row-fluid">

                <div class="span3">
                  <!-- Image block -->
                  <div class="box-body">
                    <div class="block-image">
                      <!-- Link -->
                      <a href="#">
                        <!-- Overlay content -->
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia</div>
                          <div class="image-small-text">17/08/2007</div>
                        </div>
                        <!-- Image link -->
                           <%= image_tag "./vet/clientes/1.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="span3">
                  <div class="box-body">
                    <div class="block-image">
                      <a href="#">
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia </div>
                          <div class="image-small-text">3/10/2013</div>
                        </div>
                       <%= image_tag "./vet/clientes/2.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>  
                 </div>

                <div class="span3">
                  <div class="box-body">
                    <div class="block-image">
                      <a href="#">
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia </div>
                          <div class="image-small-text">3/10/2013</div>
                        </div>
                       <%= image_tag "./vet/clientes/1.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div> 
                 </div>

                <div class="span3">
                  <div class="box-body">
                    <div class="block-image">
                      <a href="#">
                        <div class="image-overlay">
                          <div class="image-big-text">Analisis </div>
                          <div class="image-small-text">10/07/2008</div>
                        </div>
                        <%= image_tag "./vet/clientes/3.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>  
                </div>

              </div>

              <div class="row-fluid">

                <div class="span3">
                  <!-- Image block -->
                  <div class="box-body">
                    <div class="block-image">
                      <!-- Link -->
                      <a href="#">
                        <!-- Overlay content -->
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia </div>
                          <div class="image-small-text">3/diciembre/2012</div>
                        </div>
                        <!-- Image link -->
                        <%= image_tag "./vet/clientes/4.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>
                </div>

                <div class="span3">
                  <div class="box-body">
                    <div class="block-image">
                      <a href="#">
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia </div>
                          <div class="image-small-text">10/feb/2013</div>
                        </div>
                         <%= image_tag "./vet/clientes/1.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>         
                </div>

                <div class="span3">
                  <div class="box-body">
                    <div class="block-image">
                      <a href="#">
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia </div>
                          <div class="image-small-text">10/feb/2013</div>
                        </div>
                         <%= image_tag "./vet/clientes/3.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>         
                </div>

                <div class="span3">
                  <div class="box-body">
                    <div class="block-image">
                      <a href="#">
                        <div class="image-overlay">
                          <div class="image-big-text">cirugia </div>
                          <div class="image-small-text">10/feb/2013</div>
                        </div>
                          <%= image_tag "./vet/clientes/4.jpg" , :class => "style_image" %>
                      </a>
                    </div>
                  </div>         
                </div>                

              

              </div>


                <!-- Content forms coments starts -->

        
    <div class="row-fluid">
           
      <!-- bucle comentarios -->
       <div class="span12">
                 
          <div class="ysheet1" style="position: relative;  overflow: hidden;">                  
              <h3 style ="font-align:center">Comentarios </h3>
               <hr/>
                          
                  <% if !@posts.blank?  %>
                  <% for item in @posts %>
                 <b><%=  item.username %></b>                  
                  <p><a><%=  item.comentario%></a>
                  <i>\ <%=  item.created_at.strftime("%B %d, %Y")%></i></p>
                  <br/>
                   <% end %>
                  <%end%>
             </div>
                <!--formulario -->

              <div class="span4">
                    
                   <h3>Agregar Comentarios</h3>
                  
                   <%= render(:partial => 'publico/new')%>    
                 
              </div>  
                        <!--ends formulario -->



             </div>
                

     </div>
          
        <!-- Content forms comments ends -->

                 
              


            
      </div>
    </div>

  </div>
  <!-- Mainbar ends -->
<div class="clearfix"></div>
  

</div>

<div class="clearfix"></div>

<!-- Main content ends -->



<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="icon-chevron-up"></i></a></span> 


</body>
</html>